<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.mapper.BlogMapper">
    <resultMap id="pageQueryDataList" type="com.example.blog.entity.Blog">
    </resultMap>
    <!--这个resultMap 会在其他mapper文件中生效，其他mapper不能再配置-->
    <resultMap id="pageQueryTotalNum" type="Integer" autoMapping="true"></resultMap>
    <select id="pageQuery" resultMap="pageQueryDataList , pageQueryTotalNum">
        select sql_calc_found_rows * from blog
        <if test="pageSize!=null and pageSize > 0">
            limit
            <if test="pageNo != null and pageNo > 0">
                ${(pageNo-1)*pageSize},
            </if>
            <if test="pageSize!=null and pageSize > 0">
                #{pageSize}
            </if>
        </if>
        ;
        select found_rows() as pageQueryTotalNum;
    </select>
    <select id="pageQueryByType" resultMap="pageQueryDataList,pageQueryTotalNum">
        select sql_calc_found_rows * from blog where type_id = #{typeId }
        <if test="pageSize!=null and pageSize > 0">
            limit
            <if test="pageNo != null and pageNo > 0">
                ${(pageNo-1)*pageSize},
            </if>
            <if test="pageSize!=null and pageSize > 0">
                #{pageSize}
            </if>
        </if>
        ;
        select found_rows() as pageQueryTotalNum;
    </select>
    <select id="pageQueryByTypeAndTag" resultMap="pageQueryDataList,pageQueryTotalNum">
        select sql_calc_found_rows * from blog where 1=1
        <if test="typeId!=null">
            and type_id = #{typeId}
        </if>
        <if test="tagId!=null">
            and id in (select id from blog_tag where tag_id=#{tagId})
        </if>
        <if test="pageSize!=null and pageSize > 0">
            limit
            <if test="pageNo != null and pageNo > 0">
                ${(pageNo-1)*pageSize},
            </if>
            <if test="pageSize!=null and pageSize > 0">
                #{pageSize}
            </if>
        </if>
        ;
        select found_rows() as pageQueryTotalNum;
    </select>
    <select id="queryTotalNum" resultType="Integer">
        select count(*) from blog
    </select>
    <select id="queryOneById" resultType="com.example.blog.entity.Blog">
        select * from blog where id=#{id}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into blog (title,content,first_picture,flag,views,appreciation,share_statement,commentable,recommend,published,type_id,user_id,create_time,update_time)
         values (#{title},#{content},#{firstPicture},#{flag},#{views},#{appreciation},#{shareStatement},#{commentable},#{recommend},#{published},#{typeId},#{userId},#{createTime},#{updateTime})
    </insert>
    <delete id="deleteById">
        delete * from blog where id=#{id}
    </delete>
    <update id="update">
        update blog set title=#{title},content=#{content},update_time=#{updateTime}
        where id=#{id}
    </update>
    <delete id="deleteByIds">
        delete from blog where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>