<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.mapper.TagMapper">
    <resultMap id="pageQueryDataList" type="com.example.blog.entity.Tag">

    </resultMap>
<!--    <resultMap id="pageQueryTotalNum1" type="int"></resultMap>-->
    <select id="pageQuery" resultMap="pageQueryDataList,pageQueryTotalNum">
        select sql_calc_found_rows * from tag
        <if test="pageSize!=null and pageSize > 0">
            limit
            <if test="pageNo != null and pageNo > 0">
                ${(pageNo-1)*pageSize},
            </if>
            <if test="pageSize!=null and pageSize > 0">
                #{pageSize}
            </if>
        </if>
        ;
        SELECT found_rows() as pageQueryTotalNum;
    </select>
    <select id="queryTagsByBlogId" resultType="com.example.blog.entity.Tag">
        select * from tag where id in (select tag_id from blog_tag where blog_id=#{blogId})
    </select>
    <select id="queryTotalNum" resultType="Integer">
        select count(*) from tag
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tag (name) values (#{name})
    </insert>
    <delete id="deleteById">
        delete * from tag where id=#{id}
    </delete>
    <delete id="deleteByIds">
        delete from tag where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>